body{
    font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
}
.heading-style{
    border-left: 5px solid;
    border-image: linear-gradient(red, pink);
    line-height: 40px;
    border-image-slice: 1;
    }
h1{
    font-size: 35px;
}
#text-center{
    text-align: center;
    color: midnightblue;
}
.yellow-color{
    color: darkorange;
}
.click-button{
    text-decoration: none;
    background-image:linear-gradient(red, orange);
    color: white;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 4px;
}
.flexible-display{
    display: flex;
    margin-bottom: 150px;
}
        
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 50%;
     
}
.mission-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 20px 20px 30px;
    padding-left: 20px;
    border-radius: 10px;
}
.image-size{
    height: 100px;
    width: 100px;
}
#develop-image{
    height: 300;
    width: 300;
    padding-right: 5px;
}
#mission-color{
    background-color: rgb(215, 247, 215);
}
#vission-color{
    background-color: rgb(245, 239, 187);
}
#goals-color{
    background-color: rgb(198, 222, 245);
}
.margin-padding{
    padding-left: 200px;
    
}

    
    

